!!!strict
%html(xmlns="http://www.w3.org/1999/xhtml")
%head
  %title System Shock 2 in numbers
  %script{src: "lib/jquery.js", type: "text/javascript"}
  %script{src: "lib/underscore.js", type: "text/javascript"}
  %script{src: "lib/backbone.js", type: "text/javascript"}
  %script{src: "lib/stickit.js", type: "text/javascript"}
  %script{src: "lib/marionette.js", type: "text/javascript"}
%body
  %p The Many numbers sing to us...